:root {
    --color-primary-dark-cyan: hsl(158, 36%, 37%);
    --color-primary-very-dark-cyan: hsl(158, 36%, 18%);
    --color-primary-cream: hsl(30, 38%, 92%);

    --color-very-dark-blue: hsl(212, 21%, 14%);
    --color-dark-greyish-blue: hsl(228, 12%, 48%);
    --color-white: hsl(0, 0%, 100%);

    --card-left-radius: 10px 0px 0px 10px;
    --card-right-radius: 0px 10px 10px 0px;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;

    color: var(--color-dark-greyish-blue);
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    background-color: var(--color-primary-cream);

    display: grid;
    grid-template-rows: 1fr;
    place-items: center;
}

h1 {
    color: var(--color-very-dark-blue);
    font-family: 'Fraunces', sans-serif;
}

h5 {
    font-weight: normal;
    font-size: 10px;
    letter-spacing: 5px;
}

.card {
    max-width: 500px;
    max-height: 500px;
    margin: 50px;

    display: grid;
    grid-template-columns: 1fr 1fr;
}

.card-left {
    width: 100%;
    height: 100%;
    border-radius: var(--card-left-radius);
    background-size: cover;
    background-position: center;
    background-image: url('./images/image-product-desktop.jpg');
}

.product-img {
    width: 100%;
    height: 100%;
}

.card-right {
    padding: 25px;
    border-radius: var(--card-right-radius);
    background-color: var(--color-white);
    
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card-right .card-description {
    line-height: 1.5em;
    font-size: 12px;
}

.card-right button {
    padding: 12px 20px;
    color: var(--color-white);
    background-color: var(--color-primary-dark-cyan);
    border-radius: 5px;
    border: none;
    outline: none;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.card-right button:hover {
    background-color: var(--color-primary-very-dark-cyan);
    cursor: pointer;
}

.price-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.price-new {
    color: var(--color-primary-dark-cyan);
    font-family: 'Fraunces', serif;
    font-size: 25px;
}

.price-old {
    text-decoration: line-through;
    font-size: 12px;
}


/* Attribution */
.attribution { 
    font-size: 11px; 
    text-align: center; 
    margin-bottom: 20px;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}